<link rel="stylesheet" href="<%= url("~/css/about.css") %>" />

<%- include('header') %>

<main>
    <article class="intro">
        <h2>Join the Community</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras varius urna sapien, eget pharetra purus aliquet vitae.
            Aliquam faucibus mi non luctus congue. Vivamus aliquam et
            erat quis porta. Suspendisse interdum dolor at elit gravida
            venenatis. Suspendisse scelerisque ac tellus aliquet semper.
            Maecenas feugiat, augue sit amet semper bibendum, metus nibh
            bibendum felis, nec scelerisque lacus elit pretium nulla.
            Aliquam a congue lectus. Curabitur pretium ex pellentesque
            leo hendrerit, vitae blandit nibh ornare. Pellentesque
            habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Ut nec mauris id augue tincidunt
            aliquet.
        </p>
    </article>
    <article class="community">
        <h2>Contribute</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras varius urna sapien, eget pharetra purus aliquet vitae.
            Aliquam faucibus mi non luctus congue. Vivamus aliquam et
            erat quis porta. Suspendisse interdum dolor at elit gravida
            venenatis. Suspendisse scelerisque ac tellus aliquet semper.
            Maecenas feugiat, augue sit amet semper bibendum, metus nibh
            bibendum felis, nec scelerisque lacus elit pretium nulla.
            Aliquam a congue lectus. Curabitur pretium ex pellentesque
            leo hendrerit, vitae blandit nibh ornare. Pellentesque
            habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Ut nec mauris id augue tincidunt
            aliquet.
        </p>
        <img
            src="<%= url("~/assets/project_image.jpg") %>"
            alt="your img alt"
        />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras varius urna sapien, eget pharetra purus aliquet vitae.
            Aliquam faucibus mi non luctus congue. Vivamus aliquam et
            erat quis porta. Suspendisse interdum dolor at elit gravida
            venenatis. Suspendisse scelerisque ac tellus aliquet semper.
            Maecenas feugiat, augue sit amet semper bibendum, metus nibh
            bibendum felis, nec scelerisque lacus elit pretium nulla.
            Aliquam a congue lectus. Curabitur pretium ex pellentesque
            leo hendrerit, vitae blandit nibh ornare. Pellentesque
            habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Ut nec mauris id augue tincidunt
            aliquet.
        </p>
    </article>
    <article class="contribute">
        <h2>Code of Conduct</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras varius urna sapien, eget pharetra purus aliquet vitae.
            Aliquam faucibus mi non luctus congue. Vivamus aliquam et
            erat quis porta. Suspendisse interdum dolor at elit gravida
            venenatis. Suspendisse scelerisque ac tellus aliquet semper.
            Maecenas feugiat, augue sit amet semper bibendum, metus nibh
            bibendum felis, nec scelerisque lacus elit pretium nulla.
            Aliquam a congue lectus. Curabitur pretium ex pellentesque
            leo hendrerit, vitae blandit nibh ornare. Pellentesque
            habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Ut nec mauris id augue tincidunt
            aliquet.
        </p>
    </article>
</main>

<%- include('footer') %>
