<link rel="stylesheet" href="<%= url("~/css/guide.css") %>" />

<%- include('header') %>

<div id="container">
    <%- include('left_side_menu') %>
    <div id="content">
        <article id="concepts">
            <h1>Concepts</h1>
            <p>
                A deep-dive into key project concepts and architecture
                goes here.
            </p>

            <div class="stage" id="concepts-stage-1">
                <h2>Concepts Stage 1</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>

            <div class="stage" id="concepts-stage-2">
                <h2>Concepts Stage 2</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>

            <div class="stage" id="concepts-stage-3">
                <h2>Concepts Stage 3</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>
        </article>
    </div>
    <div id="right-sidebar">
        <nav id="toc">
            <h3>Table of Contents</h3>
            <ul>
                <li>
                    <a href="#concepts">Concepts</a>
                    <ul>
                        <li>
                            <a href="#concepts-stage-1"
                                >Concepts Stage 1</a
                            >
                        </li>
                        <li>
                            <a href="#concepts-stage-2"
                                >Concepts Stage 2</a
                            >
                        </li>
                        <li>
                            <a href="#concepts-stage-3"
                                >Concepts Stage 3</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a
            class="edit-link"
            href="https://github.com/project/repository/concepts.md"
            >Edit</a
        >
    </div>
</div>

<%- include('footer') %>
