<!DOCTYPE html>
<html>
    <head>
        <title>Project Guide</title>
        <link rel="stylesheet" href="../../../public/css/api_reference.css" />
        <link rel="stylesheet" href="../../../public/css/header.css" />
        <link rel="stylesheet" href="../../../public/css/footer.css" />
    </head>
    <body>
        <header><%- include('header') %></header>
        <div id="container">
            <%- include('left_api_menu') %>
            <div id="content">
                <article id="configuration-options">
                    <h1>Configuration Options</h1>
                    <p>Details about the configuration options go here.</p>

                    <div class="stage" id="configuration-stage-1">
                        <h2>Configuration Stage 1</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                        </p>
                    </div>

                    <div class="stage" id="configuration-stage-2">
                        <h2>Configuration Stage 2</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                        </p>
                    </div>

                    <div class="stage" id="configuration-stage-3">
                        <h2>Configuration Stage 3</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                        </p>
                    </div>
                </article>
            </div>
            <div id="right-sidebar">
                <nav id="toc">
                    <h3>Table of Contents</h3>
                    <ul>
                        <li>
                            <a href="#configuration-options"
                                >Configuration Options</a
                            >
                            <ul>
                                <li>
                                    <a href="#configuration-stage-1"
                                        >Configuration Stage 1</a
                                    >
                                </li>
                                <li>
                                    <a href="#configuration-stage-2"
                                        >Configuration Stage 2</a
                                    >
                                </li>
                                <li>
                                    <a href="#configuration-stage-3"
                                        >Configuration Stage 3</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <footer><%- include('footer') %></footer>
    </body>
</html>
