<footer>
  <div class="container">
      <div class="row">
          <div class="col-sm-4">
              <h5>Quick Links</h5>
              <ul>
                  <li><a href="/homepage/">Homepage</a></li>
                  <li><a href="/guide/">Guide</a></li>
                  <li><a href="/api-reference/">API Reference</a></li>
                  <li><a href="/about/">About</a></li>
              </ul>
          </div>
          <div class="col-sm-4">
              <h5>Social Media</h5>
              <ul>
                  <li>
                      <a href="https://www.facebook.com/YourProject"
                          >Facebook</a
                      >
                  </li>
                  <li>
                      <a href="https://www.twitter.com/YourProject"
                          >Twitter</a
                      >
                  </li>
                  <li>
                      <a href="https://www.instagram.com/YourProject"
                          >Instagram</a
                      >
                  </li>
              </ul>
          </div>
          <div class="col-sm-4">
              <h5>GitHub</h5>
              <ul>
                  <li>
                      <a href="https://www.github.com/YourProject"
                          >Your Project Repository</a
                      >
                  </li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <hr />
              <p>© 2023 Your Project. All rights reserved.</p>
          </div>
      </div>
  </div>
</footer>
