<div class="header">
    <div class="nav-links">
        <a href="/homepage/">Homepage</a>
        <a href="/guide/">Guide</a>
        <a href="#">API Reference</a>
        <a href="#">About</a>
    </div>
</div>
