<link rel="stylesheet" href="/css/header.css" />

<header>
    <div class="docThemeContainer">
        <nav class="docThemeNav">
            <ul class="docThemeMenu">
                <li><a href="/">Homepage</a></li>
                <li><a href="/guide/">Guide</a></li>
                <li><a href="/api_reference/">API Reference</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </nav>
        <div class="docThemeSearchBox">
            
        </div>
        <div class="docThemeVersionDropdown">
      
        </div>
    </div>
</header>
