<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=0.86"
        />
        <link rel="stylesheet" href="../../public/css/header.css" />
        <link rel="stylesheet" href="../../public/css/footer.css" />
        <link rel="stylesheet" href="../../public/css/homepage.css" />
    </head>
    <body>
        <header><%-  include('header') %></header>
       
        <main>
            <section class="hero">
                <h1>Sample Project</h1>
                <img
                    src="../../public/assets/project_image.jpg"
                    alt="background image"
                />
                <p>
                    A brief introduction to the sample project, its main
                    features, and capabilities.
                </p>
                <button>Call to Action</button>
            </section>
            <section class="main-capabilities">
                <h2>Main Capabilities</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies nisl pellentesque, pulvinar lectus vel, sodales dolor. Donec congue, risus sit amet tempus euismod, enim mauris rutrum dui, sed ultricies lacus lectus sit amet nunc. Vestibulum viverra scelerisque orci vitae ornare. Fusce et hendrerit enim. Proin condimentum eros sed vehicula laoreet. Nullam quis volutpat odio. Suspendisse id fermentum dolor. Mauris elementum, dui et mollis ornare, libero velit scelerisque leo, in vehicula justo magna non tortor. Curabitur at eleifend diam, a laoreet nunc.

                Quisque posuere et diam finibus elementum. Nullam metus velit, mollis vitae sem et, volutpat varius nisl. In suscipit, metus ut tempus rutrum, quam nulla congue tortor, id feugiat lectus magna sed nibh. In bibendum blandit bibendum. Quisque quis massa sollicitudin, porttitor leo ac, mattis elit. Aliquam laoreet tortor id imperdiet auctor. Nulla dapibus purus dui, ac fermentum odio eleifend a. Sed lacus nisi, ultricies et enim at, elementum scelerisque ligula. Vestibulum vel arcu laoreet ex pharetra porttitor. Duis ac arcu a lorem ultrices mattis vitae a dolor. Phasellus egestas auctor dolor a sollicitudin. Praesent nec metus id ipsum tincidunt iaculis.
            </section>
            <section class="testimonials">
                <h2>User Testimonials</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies nisl pellentesque, pulvinar lectus vel, sodales dolor. Donec congue, risus sit amet tempus euismod, enim mauris rutrum dui, sed ultricies lacus lectus sit amet nunc. Vestibulum viverra scelerisque orci vitae ornare. Fusce et hendrerit enim. Proin condimentum eros sed vehicula laoreet. Nullam quis volutpat odio. Suspendisse id fermentum dolor. Mauris elementum, dui et mollis ornare, libero velit scelerisque leo, in vehicula justo magna non tortor. Curabitur at eleifend diam, a laoreet nunc.

                Quisque posuere et diam finibus elementum. Nullam metus velit, mollis vitae sem et, volutpat varius nisl. In suscipit, metus ut tempus rutrum, quam nulla congue tortor, id feugiat lectus magna sed nibh. In bibendum blandit bibendum. Quisque quis massa sollicitudin, porttitor leo ac, mattis elit. Aliquam laoreet tortor id imperdiet auctor. Nulla dapibus purus dui, ac fermentum odio eleifend a. Sed lacus nisi, ultricies et enim at, elementum scelerisque ligula. Vestibulum vel arcu laoreet ex pharetra porttitor. Duis ac arcu a lorem ultrices mattis vitae a dolor. Phasellus egestas auctor dolor a sollicitudin. Praesent nec metus id ipsum tincidunt iaculis.
            </section>
            <section class="quick-links">
                <h2>Quick Links</h2>
               
                <ul>
                  <li><a href="#documentation">Documentation</a></li>
                  <li><a href="#tutorials">Tutorials</a></li>
                  <li><a href="#support">Support</a></li>
                  <li><a href="#faq">FAQ</a></li>
              </ul>
            </section>
        </main>
        <footer><%- include('../../includes/footer.ejs') %></footer>
    </body>
</html>
