<!DOCTYPE html>
<html>
    <head>
        <title>Project Guide</title>
        <link rel="stylesheet" href="../../../public/css/guide.css" />
        <link rel="stylesheet" href="../../../public/css/header.css" />
        <link rel="stylesheet" href="../../../public/css/footer.css" />
    </head>
    <body>
        <header><%- include('header') %></header>
        <div id="container">
            <%- include('left_side_menu') %>
            <div id="content">
                <article id="installation">
                    <h1>Installation</h1>
                    <p>Steps to install and configure the project go here.</p>

                    <div class="stage" id="installation-stage-1">
                        <h2>Installation Stage 1</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                        </p>
                    </div>

                    <div class="stage" id="installation-stage-2">
                        <h2>Installation Stage 2</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                        </p>
                    </div>

                    <div class="stage" id="installation-stage-3">
                        <h2>Installation Stage 3</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                        </p>
                    </div>
                </article>
            </div>
            <div id="right-sidebar">
                <nav id="toc">
                    <h3>Table of Contents</h3>
                    <ul>
                        <li>
                            <a href="#installation">Installation</a>
                            <ul>
                                <li>
                                    <a href="#installation-stage-1"
                                        >Installation Stage 1</a
                                    >
                                </li>
                                <li>
                                    <a href="#installation-stage-2"
                                        >Installation Stage 2</a
                                    >
                                </li>
                                <li>
                                    <a href="#installation-stage-3"
                                        >Installation Stage 3</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <a
                    class="edit-link"
                    href="https://github.com/project/repository/installation.md"
                    >Edit</a
                >
            </div>
        </div>
        <footer><%- include('footer') %></footer>
    </body>
</html>
