<%
  const {Mode} = await import$('postdoc');
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=0.86"
    />
  </head>
  <% if (meta.mode === Mode.Dev) { %>
    <link rel="stylesheet" href="<%= url("../css/base.css"); %>" />
  <% } else { %>
    <style>
      <%# Inline normalised CSS styles using Vite'a feature. %>
      @import "<%= url("../css/base.css"); %>";
    </style>
  <% } %>
  <body>
    <%- page.content %>
  </body>
</html>
