<div id="left-sidebar">
    <nav>
        <a class="nav-link" href="/guide/">What is [Project]</a>
        <a class="nav-link" href="/guide/installation/">Installation</a>
        <a class="nav-link" href="/guide/usage/">Usage</a>
        <a class="nav-link" href="/guide/concepts/">Concepts</a>
    </nav>
</div>
