<div id="left-sidebar">
    <nav>
        <a class="nav-link" href="/api_reference/">Implementation Details</a>
        <a class="nav-link" href="/api_reference/configuration/"
            >Configuration Options</a
        >
        <a class="nav-link" href="/api_reference/docs/">API Documentation</a>
    </nav>
</div>
