<div id="left-sidebar">
    <a href="/" class="logo" aria-label="Homepage">
        <div class="logo-img"></div>
        <span><b>Your Project</b></span>
    </a>
    <h3>Guide</h3>
    <nav>
        <a class="nav-link" href="/guide/">What is [Project]</a>
        <div>
            <a class="nav-link sublink" href="#">Sublink</a>
            <a class="nav-link sublink" href="#">Sublink</a>
            <a class="nav-link sublink" href="#">Sublink</a>
        </div>
        <a class="nav-link" href="/guide/installation/">Installation</a>
        <div>
            <a class="nav-link sublink" href="#">Sublink</a>
            <a class="nav-link sublink" href="#">Sublink</a>
            <a class="nav-link sublink" href="#">Sublink</a>
        </div>
        <a class="nav-link" href="/guide/usage/">Usage</a>
        <a class="nav-link" href="/guide/concepts/">Concepts</a>
    </nav>
</div>
