<link rel="stylesheet" href="<%= url("~/css/guide.css") %>" />

<%- include('header') %>

<div id="container">
    <%- include('left_side_menu') %>
    <div id="content">
        <article id="usage">
            <h1>Usage</h1>
            <p>Guides on how to use the project go here.</p>

            <div class="stage" id="usage-stage-1">
                <h2>Usage Stage 1</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>

            <div class="stage" id="usage-stage-2">
                <h2>Usage Stage 2</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>

            <div class="stage" id="usage-stage-3">
                <h2>Usage Stage 3</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>

        </article>
    </div>
    <div id="right-sidebar">
        <nav id="toc">
            <h3>Table of Contents</h3>
            <ul>
                <li>
                    <a href="#usage">Usage</a>
                    <ul>
                        <li>
                            <a href="#usage-stage-1">Usage Stage 1</a>
                        </li>
                        <li>
                            <a href="#usage-stage-2">Usage Stage 2</a>
                        </li>
                        <li>
                            <a href="#usage-stage-3">Usage Stage 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a
            class="edit-link"
            href="https://github.com/project/repository/concepts.md"
            >Edit</a
        >
    </div>
</div>

<%- include('footer') %>
