<link rel="stylesheet" href="/css/guide.css" />

<%- include('header') %>

<div id="container">
    <%- include('left_side_menu') %>

    <div id="content">
        <article id="project-overview">
            <h1>What is [Project]</h1>

            <div class="stage" id="part1">
                <h2>Part 1</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>
            <div class="stage" id="part1">
                <h2>Part 2</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </p>
            </div>
        </article>
    </div>
    <div id="right-sidebar">
        <nav id="toc">
            <h3>Table of Contents</h3>
            <ul>
                <li>
                    <a href="#project-overview">What is [Project]</a>
                </li>
                <ul>
                    <li>
                        <a href="#part1">Part 1</a>
                    </li>
                    <li>
                        <a href="#part2">Part 2</a>
                    </li>
                </ul>
            </ul>
        </nav>
        <a
            class="edit-link"
            href="https://github.com/project/repository/overview.md"
            >Edit</a
        >
    </div>
</div>

<%- include('footer') %>
