<link rel="stylesheet" href="<%= url("~/css/homepage.css") %>" />

<main>
    <section class="hero">
        <div class="hero-inner">
            <div class="hero-inner-text">
                <h1>Sample Project</h1>
                <p>
                    A brief introduction to the sample project, its main
                    features, and capabilities.
                </p>
                <button>Call to Action</button>
            </div>
            <div class="hero-inner-img">
                <img
                    src="<%= url("~/assets/project_image.jpg") %>"
                    alt="background image"
                />
            </div>
        </div>
    </section>
    <section class="main-capabilities">
        <h2>Main Capabilities</h2>
        <div class="capabilitie-inner">
            <div class="item">
                <img src="../assets/code_icon.svg" alt="icon" />
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur.
                </p>
            </div>
            <div class="item">
                <img src="../assets/light_icon.svg" alt="icon" />
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur.
                </p>
            </div>
            <div class="item">
                <img src="../assets/lightbulb_icon.svg" alt="icon" />
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur.
                </p>
            </div>
            <div class="item">
                <img src="../assets/lightbulb_icon.svg" alt="icon" />
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur.
                </p>
            </div>
            <div class="item">
                <img src="../assets/code_icon.svg" alt="icon" />
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur.
                </p>
            </div>
            <div class="item">
                <img src="../assets/light_icon.svg" alt="icon" />
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur.
                </p>
            </div>
        </div>
    </section>
</main>
