<%
  const shiki = require('shiki');

	const lightTheme_ = typeof lightTheme  !== 'undefined' ? lightTheme : 'github-light';

	const darkTheme_ = typeof darkTheme  !== 'undefined' ? darkTheme : 'github-dark';

  const hightlighter = await shiki.getHighlighter({
    themes: shiki.BUNDLED_THEMES
  });

  const lightFullCodeHtml = hightlighter.codeToHtml(code, { lang, theme: lightTheme_ });
  const darkFullCodeHtml = hightlighter.codeToHtml(code, { lang, theme: darkTheme_ });
%>

<link rel="stylesheet" href="<%= url('./highlight.css') %>" />

<div class="code-block">
  <%- lightFullCodeHtml %>
  <%- darkFullCodeHtml %>
</div>