<div id="left-sidebar">
    <a href="/" class="logo" aria-label="Homepage">
        <div class="logo-img"></div>
        <span><b>Your Project</b></span>
    </a>
    <nav>
        <a class="nav-link" href="/api_reference/">Implementation Details</a>
        <div>
            <a class="nav-link sublink" href="#">Sublink</a>
            <a class="nav-link sublink" href="#">Sublink</a>
            <a class="nav-link sublink" href="#">Sublink</a>
        </div>
        <a class="nav-link" href="/api_reference/configuration/"
            >Configuration Options</a
        >
        <div>
            <a class="nav-link sublink" href="#">Sublink</a>
            <a class="nav-link sublink" href="#">Sublink</a>
            <a class="nav-link sublink" href="#">Sublink</a>
        </div>
        <a class="nav-link" href="/api_reference/docs/">API Documentation</a>
    </nav>
</div>
