<div id="left-sidebar">
    <div>
        <div class="left-sidebar-mobileHeader">
            <a href="/" class="logo" aria-label="Homepage">
                <div class="logo-img"></div>
                <span><b><%= appSettings.name %></b></span>
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" id="closeLeftSidebarButton" class="w-6 h-6 closeBtnMenu">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg> 
        </div>
        <nav>
            <a class="nav-link" href="/api_reference/">Implementation Details</a>
            <a class="nav-link" href="/api_reference/configuration/">
                Configuration Options
            </a>
            <a class="nav-link" href="/api_reference/docs/">API Documentation</a>
        </nav>
    </div>
</div>
