<div id="right-sidebar">
  <nav id="toc">
    <h3>Table of Contents</h3>
    <ul>
      <li>
        <a href="<%= titleUrl %>">
          <%= titleLabel %>
        </a>
        <ul>
          <%_ for (const { linkLabel, linkUrl } of links) { _%>
            <li>
              <a href="<%= linkUrl %>">
                <%= linkLabel %>
              </a>
            </li>
          <%_ } _%>
        </ul>
      </li>
    </ul>
  </nav>
</div>
